#createReimbWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 64px;
    overflow-y: auto;
}

#dataInputContainer {
    flex-direction: column;
    display: flex;
    margin-bottom: 16px;
    overflow-y: auto;
}

#description {
    min-height: 150px;
}

#addReimbBtn {
    width: fit-content;
    font-size: 25px;
	border-radius: 5%;
    border: solid 2px #4CE5CF;
	background-color: rgba(255, 255, 255, 0);
    padding: 5px 10px 5px 10px;
	cursor: pointer;
}

#addReimbBtn:hover { 
    background-color: #4CE5CF;
	color: white;
	transition: .8s ease;
}